{% extends 'base.html.twig' %}

{% block title %}Nos cinémas partenaires{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <h1 class="text-center malvoyant-font my-4">Nos cinémas partenaires</h1>
        </div>

        <div class="row">
            <!-- Colonne gauche pour la map -->
            <div class="col-md-8">
                <div class="cinema-map">
                    <img src="{{ asset('images/map.png') }}" alt="Map des cinémas partenaires" class="img-fluid rounded">
                </div>
            </div>

            <!-- Colonne droite pour la liste des cinémas -->
            <div class="col-md-4 overflow-auto" style="max-height: 70vh;">
                <div class="cinema-list">
                    {% for cinema in cinemas %}
                        <div class="card mb-4 shadow-sm">
                            <img src="/uploads/cinemas/{{cinema.image}}" alt="{{ cinema.nom }}" class="card-img-top object-fit-cover img-fluid" height="100px">
                            <div class="card-body">
                                <h5 class="card-title text-uppercase">{{ cinema.nom }}</h5>
                                <p class="card-text"><strong>Adresse:</strong> {{ cinema.adresse }}</p>
                                <p class="card-text"><strong>Téléphone:</strong> {{ cinema.portable }}</p>
                                {% if cinema.accessibilite %}
                                    <p class="card-text"><strong>Accessibilité:</strong> {{ cinema.accessibilite|join(', ') }}</p>
                                {% else %}
                                    <p class="card-text"><strong>Accessibilité:</strong> Non spécifié</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
