{% extends 'base.html.twig' %}

{% block title %}{{ actualite.titre }}{% endblock %}

{% block body %}
    <h1>{{ actualite.titre }}</h1>
    <p>{{ actualite.datePublication|date('d/m/Y') }}</p>
    <p>{{ actualite.contenu }}</p>
    {% if actualite.video %}
        <div class="video-container">
            <iframe width="560" height="315"
                    src="{{ actualite.video | replace({'watch?v=': 'embed/'}) }}"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        </div>
    {% endif %}
{% endblock %}
