{% extends 'base.html.twig' %}

{% block title %}{{ actualite.titre }}{% endblock %}

{% block body %}
    <h1>{{ actualite.titre }}</h1>
    <p>{{ actualite.datePublication|date('d/m/Y') }}</p>
    <p>{{ actualite.contenu }}</p>
    {% if actualite.video %}
        <div class="video">
            <video controls>
                <source src="{{ actualite.video }}" type="video/mp4">
                Votre navigateur ne supporte pas la lecture vidéo.
            </video>
        </div>
    {% endif %}
{% endblock %}
